body {
    background-color: #0f172a;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    color: white;
  }
  
 
  .calendar-card {
  background: #1e293b;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #334155;
  display: flex;
  flex-direction: column;
  height: 100%;
}
  
  

  .month-title {
    text-align: center;
    color: #38bdf8;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  .calendar-table {
    width: 100%;
    text-align: center;
    color: white;
  }
  
  .calendar-table th {
    font-size: 12px;
    color: #94a3b8;
  }
  
  .calendar-table td {
    height: 35px;
    border-radius: 4px;
  }
  
 
  .calendar-table td:hover {
    background: #334155;
  }
  

  .weekend {
    color: #38bdf8;
    font-weight: bold;
  }
  

  .holiday {
    color: #f43f5e;
    font-weight: bold;
  }
  
 
  .special-holiday {
    color: #facc15;
    font-weight: bold;
  }
  

  .badge {
    padding: 6px 10px;
    margin: 5px;
    border-radius: 6px;
    background: #1e293b;
    border: 1px solid #334155;
  }
  

  td[data-holiday] {
    position: relative;
  }
  
  td[data-holiday]:hover::after {
    content: attr(data-holiday);
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    transform: translateY(-120%);
    white-space: nowrap;
    z-index: 1000;
  }
